@charset "utf-8";
/* CSS Document */


/*注册登录*/
.checkout-header{
	width:100%;
	height:82px;
	border-bottom:1px solid #000000;
}

.checkout-header-box{
	width:85%;
	height: 82px;
	margin: 0 auto;
}

.checkout-header-logo{
	width: 110px;
	height: 72px;
	padding-top: 5px;
}

.checkout-header-logo img{
	float: right;
}

.checkout-box{
	width: 100%;	
	height: 560px;
}

.checkout-left{
	float: left;
	height: 100%;
	width: 50%;
}

.checkout-box-left{
	float: right;
	height: 335px;
	margin-top: 120px;
	border-right: 1px solid #000000;
}

.checkout-inner{
	float: right;
	margin-top:10px;
	padding-right: 80px;
	width:340px;
}

.checkout-title-font{
	font-family: 黑体;
	font-size: 20px;
}

.checkout-inner p{
	margin-top:22px;
	filter:alpha(opacity=20);
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
	opacity:0.8;
}

.input-box{
	padding-left: 10px;
	margin-top:5px;
	width:300px;
	height:32px;
	font-size: 15px;
}

#remember-me{
	margin-top: 10px;
}

.remember-me-a{
	font-size: 13px;
}

.checkout-font{
	font-size: 13px;
	font-family: 黑体;
}

.checkout-button{
	margin-top: 16px;
	margin-left: 60px;
}

.checkout-button input{
	width:180px;
	height:35px;
	color:#FFF;
	text-align: center;
	background-color: #000;
	border: none;
	cursor:pointer;
}

.checkout-button input:hover{
	background-color: #444447;
}

.checkout-right{
	float: right;
	width: 50%;
	height: 100%;
}

.checkout-box-right{
	float: left;
	margin-top: 120px;
	width: 400px;
	height: 335px;
}

.checkout-inner-1{
	float: right;
	margin-top:10px;
	width: 300px;
}

.checkout-inner-1 font{
	font-family: 黑体;
	font-size: 20px;
}


.sign-box{
	margin-top: 90px;
	width: 100%;
}

.signup-inner{
	width:340px;
	margin: 0 auto;
	padding-bottom: 50px;
	overflow: hidden;
}

.signup-user-info{
}

.signup-inner form{
	float: right;
}

.signup-inner p{
	filter:alpha(opacity=20);
	-moz-opacity:0.8;
	opacity:0.8;
}

.signup-inner p:not(:first-child){
	margin-top:22px;
}

.check-code{
	width:314px;
	height: 52px;
}

#check-code{
	padding-left: 10px;
	margin-top:5px;
	height:31px;
	width:110px;
}

#checkCode{
	float: right;
	width: 110px;
	height:31px;
	margin-top: 9px;
	font-size:26px;
	line-height: 26px;
	color:#0d3;
	text-align:center;
	background-color: #ddd;
	user-select:none;
	cursor: default; 
	opacity: .6;
	}

.preview_pic{
	display: inline-block;
	margin-top: 10px; 
}

.preview_pic img{
	width: 80px;
	height: 80px;
}

.data-sex{
	padding-left: 10px;
	margin-top: 5px; 
	width: 80px;
	height: 35px;
	font-size: 15px;
}

.data-stature{
	padding: 2px 0 0 10px;
	margin-top: 5px; 
	width: 90px; 
	height: 28px;
	font-size: 15px;
}

.data-stature-a{
	display: inline-block;
	padding-left: 10px;
	margin-left: -50px; 
	font-size: 14px; 
	color: #777;
	border-left: 1px solid #ddd
}

.data-signature{
	padding: 7px 0 0 10px;
	margin-top:5px;
	width:310px;
	height:70px; 
	font-size: 15px;
}

