@charset "utf-8";
/* CSS Document */

.space_header{
	width: 1000px;
	height: 253px;
	margin: 15px auto;
	background-image: url(images/space_header.jpg);
}

.space_header_box{
	width: 940px;
	height: 100px; 
	margin: 0 auto; 
	padding: 138px 0 15px 0;
}

.space_user_info{
	width: 100%;
	height: 80px; 
	margin-top: 10px;
}

.space_user_info img{
	width: 80px;
	height: 80px; 
	border-radius: 3px; 
	float: left;
}

.space_user_introduction{
	height: 78px;
	margin: 2px 0 0px 15px;
	float: left;
}

.space_user_introduction p{
	height: 26px; 
	font-size: 14px; 
	line-height: 26px;
	color: #ddd;
}

.space_user_introduction p:first-child{
	font-size: 18px; 
	color: #fff;
}

.space_user_introduction span{
	margin-left: -9px; 
	color: #ddd;
	line-height: 26px;
	font-size: 14px;
}

.edit_info_button{
	width: 158px; 
	float: right; 
	margin-top: 55px;
}

.edit_info_button a{
	display: block;
	float: right; 
	line-height: 20px; 
	font-size: 14px;
	color: #fff; 
}

.edit_info_button a:hover{
	color: mediumblue;
}

#space_user_stature{
	width: 40px;
	height: 22px;
	padding-left: 5px;
	padding-right: 0;
	margin-left: -5px;
	border: none;
    box-shadow: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	background: transparent;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 26px;
	color: #ddd;
	transition: all 0.3s ease;
}

#space_user_stature:hover{
	color: #000;
	background: #fff;
}

#space_user_stature:focus{
	color: #000;
	background: #fff;
}

#space_user_sex{
	width: 65px;
	height: 22px;
	padding-left: 2px;
	border: none;
    box-shadow: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	background: transparent;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 26px;
	color: #ddd;
	transition: all 0.3s ease;
}

#space_user_sex option{
	color: #000;
}

#space_user_sex:hover{
	color: #000;
	background: #fff;
}

#space_user_sex:focus{
	color: #000;
	background: #fff;
}

#space_user_signature{
	width: 600px;
	height: 22px;
	display: none;
	padding-left: 5px;
	margin-left: -5px;
	margin-top: 1px;
	border: none;
    box-shadow: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	background: transparent;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 26px;
	color: #ddd;
	transition: all 0.3s ease;
}

#space_user_signature:hover{
	color: #000;
	background: #fff;
}

#space_user_signature:focus{
	color: #000;
	background: #fff;
}

.edit_pic_button{
	width: 150px;
	height: 25px;
	float: right;
}

.edit_pic_button a{
	display: block;
	float: right; 
	margin-right: 10px;
	line-height: 25px; 
	font-size: 14px;
	color: #444447; 
}

.edit_pic_button span{
	font-size: 16px;
}

.edit_pic_button a:hover{
	color: red;
}


.space_picture_box{
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d9d9d9;;
}

.space_picture{
	width: 300px;
	height: 400px;
	margin: 20px 15px 16px 20px;
	display: inline-block;
	border: 1px solid #ddd;
}

.space_picture a{
	display: block;
}

.space_picture img{
	width: 300px;
	height: 400px;
}

.space_picture_introduction{
	width: 630px;
	height: 400px; 
	display: inline-block;
	border: 1px solid #ddd;
	overflow: hidden;
}

.space_introduction_content {
	height: 360px;
	padding: 10px 15px 0 15px;
}

.introduction_title {
	width: 460px; 
	min-height: 90px;
	margin-bottom: 10px;
}


.introduction_title h1{
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
    line-height: 26px;
}

.introduction_title h1 a{
	padding: 10px 0  0 10px; 
	display: block;
	word-wrap: break-word;
}

.space_h1{
	width: 460px;
	height: 33px;
	margin: 0 0 5px 5px;
    padding: 5px 0 0 5px;
    color: #000;
    font-size: 26px;
	font-family: "微软雅黑";
    line-height: 25px;
	border: none;
    box-shadow: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
    top: -1px;
}

.introduction_title h2{
	line-height: 25px;
}

.introduction_title h2 a{
	padding-left: 10px; 
	display: block;
	word-wrap: break-word;
}

.space_h2{
	width: 460px;
	height: 58px;
	margin: 10px 0 0 5px;
    padding: 5px 0 0 5px;
    color: #000;
    font-size: 22px;
	font-family: "微软雅黑";
    line-height: 25px;
	border: none;
    box-shadow: none;
    border-radius: 4px;
    top: -1px;
}

.introduction_content{
	width: 100%;
	height: 241px;
}

.introduction_content a{
	width: 590px;  
	display: block; 
	padding-left: 10px; 
	font-size: 18px;
	word-wrap: break-word;
}

.introduction_content a textarea{
	width: 100%;
	font-size: 18px;
}

.space_cont{
	width: 583px;
	height: 212px;
	margin: 0 5px;
    padding: 5px 0 0 5px;
	border: none;
	font-size: 18px;
}